@{
    ViewData["Title"] = "Home Page";
}

@using GraphTutorial

<div class="jumbotron">
        @if (User.Identity.IsAuthenticated)
    {
     
    }
    else
    {
        <a class="btn btn-primary btn-large" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Click here to sign in</a>
    }
</div>